.main {
  background-color: var(--color-background-inner);
  margin: var(--website-container-border);
  min-height: calc(100vh - 2 * var(--website-container-border));
}
.header,
.footer {
  font-size: 0.9em;
  background-color: var(--color-background-outer);
  height: var(--website-container-border);
  width: calc(100% - 2 * var(--website-container-border));
  margin: 0 var(--website-container-border);
  padding: var(--font-size) 0;
  position: fixed;
  z-index: 9998;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}
.header {
  top: 0;
}
.footer {
  bottom: 0;
}
@media (max-width: 768px) {
  .main {
    margin: var(--website-container-border) 0;
    min-height: calc(100vh - 2 * var(--website-container-border));
  }
  .header,
  .footer {
    height: var(--website-container-border);
    width: 100%;
    margin: 0;
    padding: 10px;
  }
}

.navbar {
  display: inline;
}
.navtoggle {
  display: none;
  font-size: 1.5em;
  cursor: pointer;
}
.navmodal {
  display: none;
  width: calc(100%);
  height: calc(100% - 2 * var(--website-container-border));
  position: fixed;
  align-items: center;
  justify-content: center;
  background-color: var(--color-background-outer);
  text-align: center;
  transition: 0.3s;
}
@media (max-width: 768px) {
  .navbar {
    display: none;
  }
  .navtoggle {
    display: inline;
  }
  .navmodal {
    display: flex;
  }
}

.header ul,
.navmodal ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}
.header ul {
  flex-direction: row;
}
.navmodal ul {
  flex-direction: column;
}
.header li,
.navmodal li {
  display: block;
}
.header li {
  margin-left: 20px;
}
.navmodal li {
  margin: 10px 0;
}

.header a,
.navmodal a {
  text-transform: uppercase;
  letter-spacing: 2px;
}
.header a,
.navmodal a,
.footer a {
  text-decoration: none;
  color: var(--color-text);
}
.header a:hover,
.navmodal a:hover,
.footer a:hover {
  color: var(--color-primary);
}
.header button a,
.navmodal button a,
.footer button a {
  color: var(--color-background-outer);
}
.header .logo {
  height: calc(var(--website-container-border) - 20px);
  width: 100px;
  position: relative;
}

.footer .icons {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.footer .icons .icon {
  position: relative;
  height: 1.2em;
  width: 1.2em;
  margin-left: 10px;
}
