.cardList {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 4rem;
  margin: 30px 0 0 0;
}

@media only screen and (max-width: 965px) {
  .cardList {
    grid-template-columns: repeat(1, 1fr);
    gap: 50px;
  }
}

.trendlineCard, .dimCard, .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  max-height: 80px;

  /* IE6-9 */
  filter: gray;

  /* Google Chrome, Safari 6+ & Opera 15+ */
  -webkit-filter: grayscale(1) brightness(1);

  /* Microsoft Edge and Firefox 35+ */
  filter: grayscale(1) brightness(1);
}

.dimCard {
  opacity: 0.7;
}

.trendlineCard {
  opacity: 0.7;
}
