.cardList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  margin: 0 0 0 30px;
}
@media only screen and (max-width: 992px) {
  .cardList {
    margin: 0;
  }
}
@media only screen and (max-width: 768px) {
  .cardList {
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
  }
}

.card {
  display: flex;
  flex-direction: column;
  /* padding: 30px;
  background-color: rgb(255, 255, 255);
  box-shadow: var(--box-shadow); */
}

.cardImage {
  box-shadow: var(--box-shadow);
  filter: gray; /* IE6-9 */
  -webkit-flter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
}
.cardContent {
  margin: 10px 0 0 0;
}
.cardContent > * {
  margin: 10px 0;
}
.cardContentName {
  margin-bottom: 5px;
  text-align: center;
}
.cardContentRole {
  color: var(--color-primary);
  text-align: center;
}
.cardContentIcons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
