/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
*/

:root {
    --color-text: #555;
    --color-background: #fff;
    --color-border: #eee;
    --color-placeholder: var(--color-text);
    --color-primary: #62ad94;
    --color-primary-light: #d9ebe5;
    --color-secondary: #5e9bd4;
    --color-secondary-light: #dae9f7;
    --color-3: #d47f5e;
    --color-3-light: #fdefe8;
    --font-family: "Poppins", "Open Sans", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    font-size: 16px;
    line-height: 1;
    color: var(--color-text);
    background-color: var(--color-background);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1.1;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 3em;
}

h3 {
    font-size: 2.5em;
}

h4 {
    font-size: 2em;
}

h5 {
    font-size: 1.5em;
}

h6 {
    font-size: 1em;
}

p {
    font-size: 1em;
    line-height: 1.2;
}

a {
    font-weight: 600;
    color: var(--color-primary);
}
a:hover {
    color: var(--color-primary-light);
}

b {
    font-weight: 600;
    color: var(--color-primary);
}

button {
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--color-background);
    background-color: var(--color-primary);
    border: 0px solid var(--color-primary);
    padding: 10px;
}
button:hover {
    color: var(--color-primary);
    background-color: var(--color-primary-light);
}

button a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--color-background);
}
button a:hover, button:hover a {
    color: var(--color-primary);
}

label {
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 100%;
}
input, textarea, select {
    font-family: var(--font-family);
    font-size: 1em;
    color: var(--color-text);
    background-color: var(--color-background);
    border: 2px solid var(--color-primary-light);
    padding: 10px;
    width: 100%;
}
input::placeholder, textarea::placeholder, select::placeholder {
    opacity: 0.5;
}
textarea {
    min-height: calc(1em + 24px);
    height: 100px;
    resize: vertical;
}

header, footer {
    border: 2px solid var(--color-border);
    background-color: var(--color-background);
    width: calc(100% - 20px);
    padding: 15px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

header {
    position: fixed;
    z-index: 99999;
}
nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
}
nav li {
    display: block;
    margin-left: 20px;
}
nav a {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--color-text);
}
nav a:hover {
    letter-spacing: 2px;
    color: var(--color-primary);
}
nav button a {
    color: var(--color-background);
}

section {
    padding: 150px 0;
    border-top: 2px solid var(--color-border);
}
section:first-child {
    padding-top: 200px;
    min-height: 100vh;
    border-top: 0px solid var(--color-border);
}
section > div > * {
    margin-bottom: 10px;
}

footer .icons {
    display: flex;
    flex-direction: row;
    align-items: center;
}
footer .icons > * {
    margin-right: 15px;
}
footer .icons > *:last-child {
    margin-right: 0;
}
