/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Global Settings
- Grid
- Base Styles
- Typography
- Header
- Footer
- Main Page
- About Us
- Services
- Team
- Portfolio
- Contact Us
- Buttons
- Forms
- Utilities
- Media Queries

Make own CSS at some point
- 404

- Using as reference: https://codepen.io/chriddyp/pen/bWLwgP?editors=0100
*/

/* Global Settings
–––––––––––––––––––––––––––––––––––––––––––––––––– */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --website-green: #4B8F8C;
    --website-grey: #323242;
    --myWhite: #f9f9f9;
    --myBlue: #1d9ffc;
    --myDarkBlue: #00bcd4;
    --myCharcoal: #373f51;
    --myDarkCoral: #142850;
    --myBlack: hsl(240, 100%, 6%);
    --myOrange: hsl(25, 97%, 55%);
    --myGrey: #e5e5e5;
    --myCeladon: #DFF3E3;
    --myPurple: #dfe3ef;
    --boxShadow: 4px 4px 10px #dde;
    --boxShadowImage: 4px 4px 8px #333;
    --boxShadowActive: 4px 4px 10px #666;
    --primaryButtonBG: #4B8F8C;
    --secondaryButtonBG: #1d9ffc;
    --primaryButtonText: white;
    --secondaryButtonText: white;
    --primaryButtonHoverBG: #4B8F8C99;
    --secondaryButtonHoverBG: #1d9ffc99;
    --transitionFast: 0.12s;
    --transitionSlow: 0.33s;
    --transitionTurtle: 0.6s;
    --borderRadius: 4px;
}

.animation-paused {
    animation-play-state: paused;
}

.no-select {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Chrome, Opera and Firefox */
}

.blur {
    filter: blur(4px);
    -webkit-filter: blur(4px);
}

/* Stops animations from firing on resizing */

.resize-animation-stopper * {
    animation: none !important;
    transition: none !important;
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    -ms-transition: none !important;
}

/* Offset Anchor Links*/

[id]::before {
    content: '';
    display: block;
    height: 10px;
    margin-top: 25px;
    visibility: hidden;
}

/* Remove weird styling on form buttons on mobile */

input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    opacity: 1;
}

/* Useful
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.section {
    padding-bottom: 2.5%;
}

/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

html {
    font-family: 'Open Sans', 'Gothic A1', sans-serif;
    line-height: 1.15;
}

body {
    font-size: 18px;
    font-family: 'Open Sans', 'Gothic A1', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
}

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */

h1, h2, h3, h4 {
    font-family: 'Montserrat', 'Gothic A1', sans-serif;
    letter-spacing: 0.12rem;
    margin-top: 0;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: 1rem;
    font-weight: 500;
    line-height: 1.2;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 1.1rem;
}

b, strong {
    font-weight: bolder;
}

h1, .h1 {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 1.2;
}

h2, .h2 {
    font-size: 2rem;
    font-weight: 600;
}

h3, .h3 {
    font-size: 1.75rem;
    font-weight: 600;
}

h4, .h4 {
    font-size: 1.5rem;
    font-weight: 400;
}

h5, .h5 {
    font-size: 1.25rem;
}

h6, .h6 {
    font-size: 1rem;
}

/* Header
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Basic Styling */

nav {
    background-color: var(--website-grey);
    padding: 0px 5%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999;
}

.menu {
    list-style-type: none;
}

.menu a {
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 0px solid transparent;
}

.logo {
    padding: 7.5px 10px 7.5px 0;
    font-size: 20px;
    font-family: 'Open Sans', 'Gothic A1', sans-serif;
    background-image: url(../public/images/zyphr-logo-white-transparent.png);
    background-size: auto 25px;
    background-position: center left;
    background-repeat: no-repeat;
}

.logo a {
    opacity: 0;
}

.item {
    padding: 10px;
}

.item.button {
    padding: 9px 5px;
    /* display: block; */
}

.item.button a {
    background-color: var(--website-green);
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 1rem;
}

.item:not(.button) a:hover, .item a:hover::after {
    color: #ccc;
}

/* Mobile menu */

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.menu li a {
    display: block;
    padding: 10px 5px;
}

.menu li.subitem a {
    padding: 20px;
}

.toggle {
    order: 1;
    font-size: 20px;
    cursor: pointer;
}

/* .item.button {
    order: 3;
    display: none;
} */

.item {
    order: 3;
    width: 100%;
    text-align: center;
    display: none;
}

.active .item {
    display: block;
}

.button.secondary {
    /* divider between buttons and menu links */
    border-bottom: 1px #444 solid;
}

/* Tablet menu */

@media all and (min-width: 700px) {
    .menu {
        justify-content: center;
    }
    .logo {
        flex: 1;
    }
    /* .item.button {
        width: auto;
        order: 2;
        display: block;
    } */
    .toggle {
        flex: 1;
        text-align: right;
        order: 1;
    }
    /* Button up from tablet screen */
    .menu li.button a {
        padding: 5px 20px;
        margin: 5px 0;
    }
    .button a {
        background: #0080ff;
        border: 1px royalblue solid;
    }
    .button.secondary {
        border: 0;
    }
    .button.secondary a {
        background: transparent;
        border: 1px #0080ff solid;
    }
    .button a:hover {
        text-decoration: none;
    }
    .button:not(.secondary) a:hover {
        background: royalblue;
        border-color: darkblue;
    }
}

/* Desktop menu */

@media all and (min-width: 960px) {
    .menu {
        align-items: flex-start;
        flex-wrap: nowrap;
        background: none;
    }
    .logo {
        order: 0;
    }
    .item {
        order: 1;
        position: relative;
        display: block;
        width: auto;
    }
    /* .button {
        order: 3;
    } */
    .toggle {
        display: none;
    }
}

.nav-links a {
    padding: 0px 2rem;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 0px solid transparent;
}

.nav-links a:hover {
    background: #1b9bff;
    border-bottom: 5px solid white;
    transition: 0.5s;
}

.nav-links a:active {
    border-bottom: 5px solid white;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
}

.contact-us-button:hover {
    background-color: #00bcd4;
}

/* Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.footer-copyright {
    padding: 2.5% 0%;
    text-align: center;
    background-color: var(--myBlack);
    color: var(--myWhite);
}

/* Main Page
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.landing-section {
    display: flex;
    position: relative;
    align-items: center;
    min-height: 100vh;
    margin-top: 65px;
}

.landing-title {
    position: relative;
    max-width: 760px;
    align-self: flex-start;
    flex: 0 80%;
    font-size: 60px;
    font-weight: 900;
    margin-bottom: 0.75rem;
}

.landing-paragraph {
    font-size: 20px;
}

.landing-button-container {
    justify-content: flex-start;
}

.landing-bg {
    position: absolute;
    z-index: -1;
    width: 50%;
    height: 70%;
    right: 1%;
    transform: translate(0, 10%);
    background-image: url(../public/images/landing-page-1.png);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 1;
}

@media (max-width: 576px) {
    .landing-title {
        font-size: 50px;
    }
}

@media (max-width: 975px) {
    .landing-bg {
        background-image: none;
    }
}

/* About Us
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.about-section {
    display: flex;
    position: relative;
    align-items: center;
    min-height: 50vh;
    background-color: var(--myCeladon);
    padding: 5% 0px;
}

.about-image-container {
    position: relative;
}

.about-image-container::after {
    content: ' ';
    display: table;
    clear: both;
}

.about-image-stack--top {
    float: left;
    width: 80%;
    margin-right: -100%;
    position: relative;
    z-index: -1;
}

.about-image-stack--bottom {
    float: right;
    width: 90%;
    padding-top: 50%;
}

.about-image-stack-box {
    width: 40%;
    height: 32.5%;
    position: absolute;
    right: 25px;
    top: 0%;
    text-align: center;
    background: var(--website-green);
    box-shadow: 0px 6px 12px 0px rgba(0, 174, 255, 0.3);
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
}

.about-image-stack-box h4 {
    font-size: 50px;
    color: white;
    text-align: center;
}

.about-image-stack-box span {
    display: block;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: white;
    font-weight: 600;
}

.about-section img {
    width: 100%;
}

.about-icon {
    font-size: 45px;
    color: var(--myWhite);
    padding-bottom: 10px;
}

@media (max-width: 576px) {
    .about-image-stack-box {
        display: none;
    }
}

/* Services
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.services-section {
    position: relative;
    align-items: center;
    min-height: 50vh;
    background-color: var(--myWhite);
    padding: 2.5% 0px;
}

.services-icon {
    color: #28CC8B;
    text-align: center;
    font-size: 50px;
    margin-bottom: 20px;
}

.services-box {
    text-align: center;
    padding: 60px 30px;
    border: 1px solid white;
    background: white;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
}

.services-header {
    text-align: center;
}

.services-box>h1 {
    padding-bottom: 15px;
    transition: all 0.3s ease 0s;
}

.services-bg {
    position: absolute;
    background-image: url(../public/images/image-analytics.svg);
    background-position: top center;
    background-repeat: no-repeat;
    bottom: 0;
    z-index: 1;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    top: 10%;
}

/* 991px is the breakpoint for the services-box */

@media (max-width: 991px) {
    .services-bg {
        background-image: none;
    }
}

/* Team
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.team-section {
    position: relative;
    align-items: center;
    min-height: 75vh;
    background-color: var(--myWhite);
    padding: 2.5% 0px;
}

.team-header {
    text-align: center;
}

.team-box>img {
    margin-bottom: 10px;
}

.team-text>h3 {
    margin-bottom: 5px;
}

.team-text>h4 {
    margin-bottom: 10px;
}

.team-text>p {
    margin-top: 25px;
}

.team-social {
    margin-top: 25px;
    text-align: center;
    color: #28CC8B;
    font-size: 28px;
}

.team-section img {
    width: 50%;
}

.team-box {
    text-align: center;
    padding: 20px 30px;
    border: 1px solid white;
    background: white;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
}


/* Portfolio
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.portfolio-section img {
    width: 100%;
}

.portfolio-section {
    position: relative;
    min-height: 50vh;
    background-color: var(--myPurple);
    padding: 2.5% 0px;
}

.portfolio-header {
    text-align: center;
}

.portfolio-grid {
    display: grid;
    height: 55vh;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 20px;
}

.portfolio-item {
    background-color: #4CAF50;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-align: center;
}

.text-inside-portfolio-item {
    color: white;
    padding: 0.5rem;
    opacity: 0;
    transition: 0.3s;
    height: 100%;
    width: 100%;
    text-align: left;
    z-index: 4;
}
.text-inside-portfolio-item:hover {
    opacity: 1;
}

.text-inside-portfolio-item h4 {
    font-weight: 500;
}
.text-inside-portfolio-item p {
    font-weight: 500;
    color: #212529dd;
}

.portfolio-item.small {
    grid-row: span 1;
    grid-column: span 1;
}

.portfolio-item.medium {
    grid-row: span 2;
    grid-column: span 2;
}

.portfolio-item.large {
    grid-row: span 3;
    grid-column: span 3;
}

.portfolio-item.tall {
    grid-row: span 3;
    grid-column: span 3;
}

.portfolio-item.active {
    color: lightgrey;
    background-size: cover;
    background-position: top left;
    transition: all ease-in-out 300ms;
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.portfolio-item.inactive {
    background-image: url("../public/images/image-analytics.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    opacity: 0.4;
    cursor: default;
}

.portfolio-item.one {
    background-image: url("../public/images/mint-app.png");
}

.portfolio-item.two {
    background-image: url("../public/images/nyc-app.png");
}

.portfolio-item.three {
    background-image: url("../public/images/admin-app.png");
}

.portfolio-item.four {
    background-image: url("../public/images/brightbuilding-cropped.jpg");
}

.portfolio-item.active::before {
    content: '';
    display: block;
    background: var(--myCharcoal);
    opacity: 0.0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all ease-in-out 300ms;
}

.portfolio-item.active:hover::before {
    opacity: 0.7;
    box-shadow: 4px 4px var(--website-grey);
}

/* Contact Us
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.contact-container-header {
    margin-bottom: 55px;
}

.contact-container-header h4 {
    margin-bottom: 15px;
}

.contact-content {
    font-size: 19px;
}

.contact-section {
    display: flex;
    position: relative;
    align-items: center;
    min-height: 75vh;
    background-color: var(--myWhite);
    padding: 5% 0px;
}

.contact-icon {
    font-size: 35px;
    color: #28CC8B;
    width: 50px;
    height: 50px;
    line-height: 50px;
    margin-bottom: 50px;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    margin-right: 30px;
}

.contact-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}

.contact-title {
    font-size: 19px;
    font-weight: 700;
    margin-bottom: 15px;
}

.contact-desc {
    font-weight: 500;
    font-size: 15px;
}

.contact-form {
    background: #ffffff;
    padding: 50px;
    box-shadow: 10px 15px rgba(51, 77, 136, 0.07);
}

.contact-form-item {
    width: 100%;
    border-radius: 0px;
    border: 1px solid black;
    margin-bottom: 15px;
    padding: 16px 15px;
    font-family: inherit;
    font-size: 16px;
}

.contact-textarea {
    max-height: 200px;
    resize: vertical;
}

.contact-form-response {
    text-align: center;
}

@media (max-width: 576px) {
    .contact-container-header {
        margin-bottom: 55px;
        margin-top: 10%;
    }
}

/* Button
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.button:focus {
    border: none;
    outline: none;
}

.button {
    padding: 15px 30px;
    border-radius: 30px;
    max-width: 100%;
    border: 1px solid transparent;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    font-size: 1.1rem;
}

.primary-button {
    background-color: var(--primaryButtonBG);
    color: var(--primaryButtonText);
    margin-right: 15px;
}

.primary-button:hover {
    /* background-color: #4CAF50; */
    background-color: var(--primaryButtonHoverBG);
    color: white;
    transition-duration: 0.4s;
}

.secondary-button {
    background-color: var(--secondaryButtonBG);
    color: var(--secondaryButtonText)
}

.secondary-button:hover {
    /* background-color: #4CAF50; */
    background-color: var(--secondaryButtonHoverBG);
    color: white;
    transition-duration: 0.4s;
}

.contact-submit-button {
    width: 100%;
    border-radius: 0px;
}

/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media (max-width: 576px) {}

@media (min-width: 768px) {}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}

/* 404
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.error-bg {
    height: calc(100vh - 64px);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
