.form {
  padding: 3rem;
  background-color: var(--color-primary-light);
}
@media only screen and (max-width: 768px) {
  .form {
    padding: 0rem;
    background-color: transparent;
  }
}

.alert {
  margin-top: 1.5rem;
  font-weight: var(--font-weight-bold);
  color: var(--color-text);
}
